.home {

  .site-header_right {
    width: 100%;
  }

  #main-nav {
    margin: 0 auto;
    text-align: center;
    float: none;

    li {
      a {
        color: white !important;
      }
    }
  }

  .site-header {
    background-color: #2a3754;
    .inner {
      border: none !important;
    }
  }

  .home-page-logo {
    //font-size: 80px;
    width: 12em;
    margin-bottom: 2em;
  }

  #what-we-do {
    z-index:0;
    -webkit-transform: translateZ( 0 );
    transform: translateZ( 0 );
    -webkit-transition: -webkit-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
}


.home-hero {
  .hero-bg-container{
    display: flex;

  

  }
 
}
.hero-bg{
  height: 300px;
}
.home-hero--content {
  position: relative;
  z-index: 199;
  color: $white;
  text-align: center;

  h1, h3 {
    text-transform: uppercase;
    color: $white;
  }
  h1 {
    color: $black;
    font-size: 1.1em;
    letter-spacing: 1.5px;
    font-family: $accent-font;
  }
  h3 {
    font-size: 2.25em;
    text-shadow: rgba(darken($dark, 10%), 0.55) 0 0 5px;
  }
  p {
    max-width: 40em;
    margin-right: auto;
    margin-left: auto;
    text-shadow: rgba(darken($dark, 10%), 0.35) 0 0 3px;
  }
}

.home-hero--downarr {
  margin-top: 3em;
}

.home-services {
  margin-top: -3em;
}

@media (min-width: $bp-md) {



  .home-services {
    background: transparent;
    margin-top: -3em;
  }

}

@media (min-width: $bp-lg) {



  .home-hero--content {
    h3 {
      font-size: 3em;
    }
    p {
      font-size: 1.05em;
    }
  }

}

@media (min-width: $bp-xl) {



  .home-hero--content {
    h3 {
      font-size: 3.2em;
    }
  }

}

@media (min-width: $bp-xxl) {


}




